@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    
    --primary: 270 25% 54%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 240 96% 96%;
    --secondary-foreground: 240 5.9% 10%;
    
    --muted: 255 100% 95%;
    --muted-foreground: 240 3.8% 46.1%;
    
    --accent: 270 25% 50%;
    --accent-foreground: 0 0% 100%;
    
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5.9% 10%;
    
    --radius: 1.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-gradient-to-br from-secondary via-muted to-secondary min-h-screen text-foreground;
  }
}